<h1>Welcome to The Hair Salon</h1>
<li><a href='/clis/new'>Create a Client<a/></li>
<li><a href='/stys/new'>Create a Stylist<a/></li>
<li><a href='/clis'>Show all Clients<a/></li>
<li><a href='/stys'>Show all Stylists<a/></li>
<li><a href='/special/new'>Create a  Speciality<a/></li>
<li><a href='/special'>Show all the types of Specialities<a/></li>
