@using HairSalon.Models;
<h3>Create a Speciality:</h3>
<form action="/special" method="post">
  <label for="newDescription">Enter your a speciality:</label>
  <input id="newDescription" name="newDescription" type="text">
  <button type="submit">Submit</button>
</form>
<p><a href='/clis'>Back to Clients<a/></p>
<p><a href='/stys'>Back to Stylist<a/></p>
