<!-- @using HairSalon.Models;
<h1>Bangs</h1>
<h2>Specialty: @Model["thisSpecialty"].GetDescription()</h2>
@if (@Model["stylists"].Count != 0)
  {
    <ul>
      @foreach(var stylist in Model["stylists"])
      {
        <li>@stylist.GetStylistName()</li>
      }
    </ul>
  }
<h4><a href="/special">Return to Specialties Index</a></h4>




    <p><a href='/'>Back home<a/></p> --> -->
