@using HairSalon.Models;

<h2>Specialty: @Model["thisSpecialty"].GetDescription()</h2>
@if (@Model["stylists"].Count != 0)
  {
    <ul>
      @foreach(var stylist in Model["stylists"])
      {
        <li>@stylist.GetStylistName()</li>
      }
    </ul>
  }
    <p><a href='/'>Back home<a/></p>
