<h1>Yess!</h1>
    <h2>System has updated your request have upde</h2>
    <form action="/special/@Model.GetId()/view">
      <button class="btn btn-info" type="click">Back</button>
    </form>
    <a href='/'>Info</a>
